<div class="jumbotron">
  <h1>Contact List</h1>
  <p>
    Manage your contacts in everywhere!
  </p>
  <p>
    <%= link_to 'Make Your Register', new_user_path, class: 'btn btn-primary btn-lg' %>
  </p>
</div>