<footer>
  <small>
    <%= link_to 'Contact List. All the rights reserved.', root_path %>
  </small>

  <nav>
    <ul>
      <li>
        <%= link_to 'About', sobre_path %>
      </li>
      <li>
        <%= link_to 'Contact', contato_path %>
      </li>
    </ul>
  </nav>
</footer> 